<div id="modalDialog" class="modalDialog">
  <div>
    <a href="#close" title="Закрыть" class="close">X</a>
    <h2>Модальное окно</h2>
    <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
    <p>Его можно использовать в широком диапазоне, начиная от вывода сообщений и заканчивая формой регистрации.</p>
  </div>
</div>
