<div class="upload">
  <input class="upload__input"
    type="file"
    (change)="onFileSelected($event)"
    #fileInput>

  <div class="upload-actions">
    <i class="mdi mdi-file-plus mdi-18px" (click)="fileInput.click()" *ngIf="!selectedFile"></i>
    <span *ngIf="selectedFile">{{selectedFile.name}}</span>
    <i class="mdi mdi-close mdi-18px" *ngIf="selectedFile" (click)="onReset()"></i>
    <i class="mdi mdi-check mdi-18px" *ngIf="selectedFile" (click)="onUpload()"></i>
  </div>
</div>
