.upload {

  &__input {
    display: none;
  }

  &-actions {
    color: #bfbfbf;

    span {
      margin: 0 10px;
    }

    i {
      margin: 0 2px;
      cursor: pointer;

      &:hover {
        color: #aaaaaa;
      }
    }
  }
}
