.sorted-field {
  display: flex;
  color: #bbb;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    color: #aaaaaa;
  }

  &__title {
    font-size: 14px;
    padding: 2px;
  }

  &__arrow {
    margin-left: 3px;
  }
}
