<div class="sorted-field" (click)="toggle()">
  <p class="sorted-field__title">{{title}}</p>
  <i class="mdi mdi-menu-down sorted-field__arrow" *ngIf="ascending"></i>
  <i class="mdi mdi-menu-up sorted-field__arrow" *ngIf="!ascending"></i>
</div>
