.description__textarea {
  width: 100%;
  height: 100%;

  textarea {
    font-size: 18px;
    width: 100%;
    height: 150px;
    background: rgba(230, 230, 230, 1);
    resize: none;
    border: none;
    outline: none;
  }
}
