.main {
  height: 100%;
  width: 100%;
}

.main-header {
  display: flex;
  height: 7vh;
  width: 100%;
}

.main-body {
  height: 93vh;
  width: 100%;
  display: flex;

  &__sidebar {
    height: 100%;
  }

  &__workspace {
    width: 100%;
    height: 100%;
  }
}


