<div class="main">
  <div class="main-header">
    <app-header
      (hiddenSidebar)="toggleSidebar()">
    </app-header>
  </div>

  <div class="main-body">

    <div class="main-body__sidebar">
      <app-sidebar
        [hidden]="hiddenSidebar">
      </app-sidebar>
    </div>

    <div class="main-body__workspace">
      <app-workspace-layout></app-workspace-layout>
    </div>
  </div>
</div>
