<div class="filter-form">
  <div *ngFor="let field of filterFields">
    <app-sorted-field
      [title]="field.title"
      [comparators]="field.comparators">
    </app-sorted-field>
  </div>
</div>
