.task-list {
  height: 100%;
  width: 100%;
}

.task-list-container {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  padding: 10px 22px;
  box-sizing: border-box;
  box-shadow: -5px 3px 10px rgba(50, 50, 50, 0.3);
  border-radius: 3px;
}

.task-list-header {
  display: flex;
  align-items: center;

  &__actions {
    font-weight: bold;
    margin-left: 30px;

    .action {
      padding: 0 3px;
      color: #bfbfbf;

      &:hover {
        color: #aaa;
        cursor: default;
      }
    }
  }
}

.task-list-item {
  margin-top: 7px;
}
