<div class="task-list">
  <div class="task-list-container">

    <div class="task-list-header">
      <h3 class="task-list-header__title">To-Do List</h3>

      <div class="task-list-header__actions">
        <span class="action" (click)="onShowAll()">All</span>
        <i class="mdi mdi-star-half mdi-18px action" (click)="onShowImportant()"></i>
        <i class="mdi mdi-check-all mdi-18px action" (click)="onShowCompleted()"></i>
      </div>
    </div>
    <hr>

    <div class="task-list-item" *ngFor="let task of tasks">
      <app-task
        [task]="task"
      ></app-task>
    </div>

  </div>
</div>
