.panel {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  box-shadow: -5px 3px 10px rgba(50, 50, 50, 0.3);

  &-container {
    padding: 10px 22px;
  }
}
