<div class="checkbox">
  <div class="container">
    <input type="checkbox"
           [ngModel]="value"
           (ngModelChange)="toggle($event)">
  </div>
  <span>
    <i class="mdi mdi-checkbox-blank-outline" *ngIf="!value"></i>
    <i class="mdi mdi-checkbox-marked-outline" *ngIf="value"></i>
  </span>
</div>


