<div class="task-info" *ngIf="!hidden">

    <app-panel
      [title]="task.name">

      <app-task-info-description
        [task]="task">
      </app-task-info-description>

      <app-task-time-frame
        [task]="task">
      </app-task-time-frame>

      <app-task-info-files
        [task]="task">
      </app-task-info-files>
    </app-panel>
</div>
