<div class="auth">
  <input class="auth__input" type="email"
         placeholder="Email" [(ngModel)]="credentials.email">
  <input class="auth__input" type="password"
         placeholder="Password" [(ngModel)]="credentials.password">

  <div class="auth-registration">
    <span class="auth-registration__text">Don’t have an account?</span>
    <span class="auth-registration__link" routerLink="/account/signup">Register now!</span>
  </div>
  <button class="auth__button" type="button" (click)="login()">Log in</button>
  <span class="auth__error-message">{{errorMessage}}</span>
</div>
