.add-form {
  width: 300px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;

  &__button {
    color: #bbb;
    margin-left: 30px;
    cursor: pointer;
  }

  &__input {
    width: 100%;

    input {
      background: rgba(0, 0, 0, 0);
      padding: 5px 0 0 5px;
      width: 100%;
      font-size: 14px;
      border: none;
      outline: none;
    }
  }
}
