<div class="add-form">
  <div class="add-form__input">
    <input [type]="type" [placeholder]="placeholder" [(ngModel)]="value">
  </div>

  <div class="add-form__button mgr-10">
    <i class="mdi mdi-magnify mdi-24px"></i>
  </div>
</div>
