<div class="sidebar" *ngIf="!hidden" >
  <ul class="sidebar__content">
    <li class="sidebar__item" (click)="onClick('add')">
      <i class="mdi mdi-library-plus mdi-24px"></i>
    </li>
    <li class="sidebar__item" (click)="onClick('search')">
      <i class="mdi mdi-magnify mdi-24px"></i>
    </li>
    <li class="sidebar__item" (click)="onClick('filter')">
      <i class="mdi mdi-filter-outline mdi-24px"></i>
    </li>
  </ul>
</div>
