.sidebar {
  background: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100%;


  &__item {
    text-align: center;
    padding: 10px 5px;
    
    &:hover {
      background: #666;
    }
  }
}
