<div class="workspace">
  <div class="workspace-layout-body">

    <div class="workspace-body__task-list">
      <app-task-list></app-task-list>
    </div>

    <div class="workspace-body__task-info">
      <app-task-info
        *ngIf="!hiddenTaskInfo"
        [task]="selectedTask">
      </app-task-info>
    </div>

  </div>
</div>
