.workspace {
  width: 100%;
  height: 100%;
}

.workspace-layout-body {

  width: 100%;
  height: 100%;
  display: flex;
}

.workspace-body__task-list {
  flex: 1 0 auto;
  background: rgba(244, 244, 244, 0.6);
  padding: 30px 10px 30px 20px;
}

.workspace-body__task-info {
  background: rgba(244, 244, 244, 0.6);
  max-width: 300px;
  padding: 30px 20px 30px 10px;
}
