<div class="add-form">
  <div class="add-form__input">
    <input type="text" placeholder="Enter a task name"
      [(ngModel)]="taskName">
  </div>

  <div class="add-form__button mgr-10" (click)="createTask()">
    <i class="mdi mdi-plus mdi-24px"></i>
  </div>
</div>
