h4 {
  margin-left: 20px;
  margin-bottom: 3px;
}

.files {
  display: flex;
  flex-wrap: wrap;
}

.files-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  border-radius: 2px;
  //border: #ffffff 2px solid;

  i {
    display: none;
  }

  &__img {
    width: 100%;
    align-self: center;
  }

  :hover {
    cursor: pointer;
  }
}

.files-item:hover i {
  display: block;
  position: absolute;
  color: #aaa;
}

.files-upload {
  margin-top: 20px;
}


/////////////////////////////


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
}

.modalDialog > div {
  width: 90vw;
  height: 90vh;
  text-align: center;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);

  img {
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.close {
  cursor: pointer;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -10px;
  right: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
