<div class="files-container">
  <hr>
  <h4 (click)="onClick()">Attached Files</h4>
  <div class="files">
    <div class="files-item" *ngFor="let i = index; let url of task.imageUrls">
      <i class="mdi mdi-close-circle-outline mdi-18px" (click)="onDelete(task.id, i)"></i>
      <img class="files-item__img" [src]="'http://localhost:3000/' + url" alt="" (click)="onImageClick(task.imageUrls[i])">
    </div>
  </div>

  <app-upload
    [id]="task.id">
  </app-upload>
</div>

<div class="modalDialog" *ngIf="selectedImage">
  <div>
    <a title="Закрыть" class="close" (click)="onCloseModal()">X</a>
    <img [src]="'http://localhost:3000/' + selectedImage" alt="">
  </div>
</div>
