<div class="add-form">
  <div class="add-form__input">
    <input type="text" placeholder="Enter a task name" [(ngModel)]="taskName">
  </div>

  <div class="add-form__button mgr-10">
    <i class="mdi mdi-magnify mdi-24px" (click)="search()"></i>
  </div>
</div>
