.task {
  padding: 12px 20px;
  border-radius: 5px;
  display: flex;
  border-left: 4px solid #aaa;
  box-shadow: -5px 5px 10px rgba(100, 100, 100, 0.3);

  &__name {
    margin-left: 10px;
  }

  &__actions {
    margin-left: auto;
    color: #bfbfbf;

    i {
      margin: 0 3px;
    }

    i:hover {
      color: #aaa;
    }
  }
}

.active {
  background: rgba(255, 255, 255, 0.5);

  &:hover {
    background: rgba(255, 255, 255, 0.8);

    .task__name {
      transition: .3s;
      margin-left: 20px;
    }
  }
}

.completed {
  text-decoration: line-through;
  background: rgba(200, 200, 200, 0.7);
}
