<div class="task active" [ngClass]="{'completed':task.done, 'active':!task.done}"
     (dblclick)="onDblClick()"
     (click)="onClick()">

  <div class="task__status">
    <app-checkbox
      [(value)]="task.done">
    </app-checkbox>
  </div>

  <div class="task__name">
    <span>{{task.name}}</span>
  </div>

  <div class="task__actions">
    <i class="mdi mdi-star-outline mdi-18px" *ngIf="!task.isImportant" (click)="changeImportance()"></i>
    <i class="mdi mdi-star mdi-18px" *ngIf="task.isImportant" (click)="changeImportance()"></i>
    <i class="mdi mdi-delete mdi-18px" (click)="delete()"></i>
  </div>
</div>
