.registration {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__input {
    border-radius: 3px;
    padding: 8px 20px;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 10px;
  }

  &__button {
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #aa654e;
    color: #eee;
    font-weight: bold;
    padding: 5px 20px;

    &:hover {
      color: #fff;
      background: #aaaa59;
    }
  }
}
