<div class="registration">
  <input class="registration__input" type="email"
         placeholder="Email" [(ngModel)]="email">
  <input class="registration__input" type="password"
         placeholder="Password" [(ngModel)]="password">
  <input class="registration__input" type="password"
         placeholder="Confirm password" [(ngModel)]="confirmedPassword">

  <button class="registration__button" type="button" (click)="signup()">Sign up</button>

  <p class="registration__message">{{errorMessage}}</p>
</div>
