.header {
  display: flex;
  height: 100%;
  background: #fafafa;
  width: 100vw;
}

.header__sidebar-toggle {
  width: 50px;
  height: 100%;
  background: #555;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.header__form {
  flex-grow: 3;
  height: 100%;
  padding: 10px;
}

.header__account {
  margin-left: auto;
  width: 200px;
  display: flex;
  align-items: center;
}

.account-item {
  margin-left: 30px;
}

.enabled {
  transform: rotate(180deg);
  transition: .2s;
}

