<header class="header">
  <div class="header__sidebar-toggle" [ngClass]="{'enabled':!hidden}" (click)="toggleSidebar()">
    <i class="mdi mdi-chevron-up mdi-36px"></i>
  </div>

  <div class="header__form">
    <app-add-component *ngIf="showAddForm"></app-add-component>
    <app-search-component *ngIf="showSearchForm"></app-search-component>
    <app-filter-component *ngIf="showFilterForm"></app-filter-component>
  </div>

  <div class="header__account">
    <p class="account-item" (click)="logout()"><i class="mdi mdi-account-circle mdi-24px"></i></p>
  </div>
</header>
