.time-frame {
}
h4 {
  margin-left: 20px;
  margin-bottom: 3px;
}
.table-title {
  text-align: left;
  font-size: 14px;
}

.table-date {
  text-align: right;

  &__input {
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    border: 0;
    outline: none;
    padding-left: 20px;
    font-weight: bold;
  }
}
