<hr>
<h4>Time Frame</h4>
<table class="time-frame">
  <tr>
    <td class="table-title">Deadline</td>
    <td class="table-date">
      <input class="table-date__input" type="date"
             [(ngModel)]="deadline.toISOString().split('T')[0]"
              (change)="onChangeDeadline($event)">
    </td>
  </tr>
  <tr>
    <td class="table-title">Current Date</td>
    <td class="table-date">
      <input class="table-date__input" type="date" [value]="currentDate.toISOString().split('T')[0]" disabled="disabled">
    </td>
  </tr>
  <tr (click)="onClick()">
    <td class="table-title">Start Date</td>
    <td class="table-date">
      <input class="table-date__input" type="date"
             [ngModel]="startDate.toISOString().split('T')[0]" disabled="disabled">
    </td>
  </tr>
</table>
