body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial;
  background: url("/assets/bg-main.jpg") no-repeat center top / cover;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.mg-10 {
  margin: 10px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgl-10 {
  margin-left: 10px;
}

.mgr-10 {
  margin-right: 10px;
}


